body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #fffefe;
}

.color-container {
    background-color: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}
h1 {
    text-align: center;
    font-size: 1.5em;
    margin-top: 0;
    margin-bottom: 20px;
    padding-bottom: 10px;
    font-weight: 800;
    color: black
}

.color-palette {
    display: flex;
    flex-direction: column;
    border: 1px solid #bdbcbc
}

.color-row {
    display: flex;
    flex: 1;
}

.color-cell {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 10px;
    color: white; 
    font-weight: 600;
    font-size: 0.9em;
    text-align: center;
    min-width: 120px; /* Asegura un ancho mínimo para cada celda */
    height: 35px; /* Altura uniforme para las celdas */
}

/* Colores de Fondo */

/* Fila 1 */
.blue-gray { background-color: #38465a; color: white; }
.warm-gray { background-color: #7f7f7f; color: white; }
.amber { background-color: #d97706; color: white; }
.green { background-color: #10b981; color: white; }

/* Fila 2 */
.cool-gray { background-color: #4b5563; color: white; }
.red { background-color: #ef4444; color: white; }
.yellow { background-color: #fcd34d; color: black; }
.emerald { background-color: #059669; color: white; }

/* Fila 3 */
.gray { background-color: #1f2937; color: white; }
.orange { background-color: #f97316; color: white; }
.lime { background-color: #84cc16; color: white; }
.teal { background-color: #0d9488; color: white; }

/* Fila 4 */
.true-gray { background-color: #374151; color: white; }
.pink { background-color: #ec4899; color: white; }
.rose { background-color: #f43f5e; color: white; }
.blue { background-color: #3b82f6; color: white; }

/* Fila 5 */
.fuchsia { background-color: #c026d3; color: white; }
.violet { background-color: #7c3aed; color: white; }
.indigo { background-color: #4f46e5; color: white; }
.blue-cell-2 { background-color: #1d4ed8; color: white; } 

/* Fila 6 - Ajuste de la estructura de la imagen */
.purple { background-color: #9333ea; color: white; }
.sky { background-color: #0ea5e9; color: white; }
.cyan { background-color: #06b6d4; color: white; }
.empty-cell { background-color: #112d46; color: white; }

/* Ajuste para las celdas de la Fila 6 para simular la estructura de 4 columnas */
.color-row:nth-child(6) .color-cell:nth-child(1) { flex: 1; } /* Purple */
.color-row:nth-child(6) .color-cell:nth-child(2) { flex: 1; } /* Violet o Sky en el código */
.color-row:nth-child(6) .color-cell:nth-child(3) { flex: 1; } /* Indigo o Cyan en el código */
.color-row:nth-child(6) .color-cell:nth-child(4) { flex: 1; } /* Blue o la celda vacía */