body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #fffefe;
}

.color-container {
    background-color: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: fit-content;
}

h1 {
    text-align: center;
    font-size: 1.5em;
    margin-top: 10px;
    margin-bottom: 25px;
    /* padding-bottom: 10px; */
    font-weight: 800;
    color: black;
    letter-spacing: 0.05em;
}

.color-palette {
    display: flex;
    flex-direction: column;
    border: 1px solid #bdbcbc
}

.color-row {
    display: flex;
    flex: 1;
}

.color-cell {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 18px 10px;
    color: white; 
    font-weight: 600;
    font-size: 0.9em;
    text-align: center;
    min-width: 120px; /* Asegura un ancho mínimo para cada celda */
    height: 35px; /* Altura uniforme para las celdas */
    border: 1px solid #f0f0f0;
}

/* Colores de Fondo */

/* Fila 1 */
.blue-gray { background-color: #36404c; color: white; }
.warm-gray { background-color: #7d7d7d; color: white; }
.white-cell { background-color: #ffffff; color: black; } 
.color-row:nth-child(1) .color-cell:nth-child(4) { background-color: #ffffff; }

/* Fila 2 */
.cool-gray { background-color: #4b545f; color: white; }
.red { background-color: #e53935; color: white; }
.yellow { background-color: #fdd835; color: black; }
.emerald { background-color: #009688; color: white; }

/* Fila 3 */
.gray-dark { background-color: #2a2d34; color: white; }
.orange { background-color: #f97316; color: white; }
.lime { background-color: #84cc16; color: white; }
.teal { background-color: #0d9488; color: white; }

/* Fila 4 */
.true-gray { background-color: #374151; color: white; }
.pink { background-color: #ec4899; color: white; }
.rose { background-color: #f43f5e; color: white; }
.blue-light { background-color: #2196f3; color: white; }

/* Fila 5 */
.fuchsia { background-color: #c026d3; color: white; }
.violet { background-color: #7c3aed; color: white; }
.indigo { background-color: #4f46e5; color: white; }
.blue-dark { background-color: #1976d2; color: white; }

/* Fila 6 - Ajuste de la estructura de la imagen */
.purple { background-color: #673ab7; color: white; }
.sky { background-color: #0ea5e9; color: white; }
.cyan { background-color: #06b6d4; color: white; }
/* .empty-cell { background-color: #112d46; color: white; } */

.white-cell:empty {
    color: transparent; /* Hace que el texto sea invisible si lo hay, aunque no debería haber */
}

/* Ajuste para las celdas de la Fila 6 para simular la estructura de 4 columnas */
.color-row:nth-child(1) .color-cell:nth-child(3) { background-color: #ffffff; }
.color-row:nth-child(1) .color-cell:nth-child(4) { background-color: #ffffff; }
.color-row:nth-child(6) .color-cell:nth-child(4) { background-color: #ffffff; }