body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 40px;
    background-color: white;
}

.container {
    max-width: 900px;
    margin: 0 auto;
}

.main-tittle {
    text-align: center;
    font-size: 2.5em;
    font-weight: bold;
    margin-bottom: 30px;
}

