body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 40px;
    background-color: white;
}

.container {
    max-width: 900px;
    margin: 0 auto;
}

.main-tittle {
    text-align: center;
    font-size: 2.5em;
    font-weight: bold;
    margin-bottom: 30px;
}
/* ---------------------------------
   Estilos de las Secciones Grises
   --------------------------------- */

.section-block {
    margin-bottom: 40px;
}

.section-header {
    background-color: grey;
    color: white;
    font-size: 1.5em;
    font-weight: normal;
    padding: 10px 20px;
    margin: 0;
}

/* ---------------------------------
   Contenido y Logo (Estructura de Bloque)
   --------------------------------- */

.content-wrapper {
    padding: 20px 0;
}

.logo-text-block {
    display: flow-root;
}

.tech-logo {
    max-width: 100%;
    height: auto;
    display: block;
}

.logo-container {
    float: left;
    margin-right: 20px;
    margin-top: 10px;
    width: 150px;
}

.section-text {
    line-height: 1.6;
    text-align: justify;
}



